h2 {
  font-size: 55px;
  color: #35B8BE;
}

p {
  color: #546285;

}

.title-section {
    margin: 40px auto;
    text-align: center;
}

.shopping-container {
  display: block;
}

.menu-section {
  display: flex;
  gap: 20px;
  justify-content: center;
}

%btn {
  background-image: url("../assets/5e865e09d8efa3345876b5c4_Button Wave.svg");
  background-repeat: no-repeat;
  background-color: #35b8be;
  background-position: 0 0;
  padding: 20px 35px;
  border: 0;
  border-radius: 6px;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
%btn:hover {
  cursor: pointer;
  //transition: background-color 250ms ease;
  //background-color: #2e9b9f;
}

.category-btn {
  @extend %btn;
  color: black;
  border: solid 1px gray;
  background-color: white;
}

.active-btn {
  @extend %btn;
}

button {
  transition: 250ms;
}

button:hover {
  cursor: pointer;
}

