h2 {
  font-size: 55px;
  color: #35B8BE;
}

p {
  color: #546285;

}

.title-section {
    margin: 40px auto;
    text-align: center;
}

.shopping-container {
  display: block;
}

.menu-section {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.category-btn {
  background-color: gray;
}

.active-btn {
  background-color: red;
}
